<h4>Delivery options</h4>
<div *ngFor="let option of this.subscriber.deliveryOptions">
  <am-deliveryoption [deliveryOption]="option" (save)="saveDeliveryOption($event)" (delete)="deleteDeliveryOption(option)"></am-deliveryoption>
</div>
<button *ngIf="!adding" class="am-button" (click)="adding=true">New Delivery Option</button>
<div *ngIf="adding" class="am-add-delivery-option">
    <p class="am-instruction">Enter an email address or mobile phone number:</p>
    <am-deliveryoption [adding]="true" [deliveryOption]="newDeliveryOption"
      (save)="addDeliveryOption($event)"
      (cancel)="cancelDeliveryOption()">
    </am-deliveryoption>
</div>
