
<span class="np-delivery-option" *ngIf="!editing" (click)="editDeliveryOption()">
    <svg *ngIf="deliveryOption.deliveryType =='text'" class="np-icon"><use xlink:href="#chat" /></svg>
    <svg *ngIf="deliveryOption.deliveryType =='email'" class="np-icon"><use xlink:href="#email" /></svg>
  {{deliveryOption.name}} ({{deliveryOption.value}})
</span>
<div class="np-edit-option" *ngIf="editing">
    <input [(ngModel)]="editedOption.value" placeholder="email or mobile number" />
    <input [(ngModel)]="editedOption.name" placeholder="Nickname (optional)" />
    <span>
      <button class="np-button" (click)="saveDeliveryOption()" *ngIf="editedOption.value">Save</button>
      <button class="np-button" (click)="cancelDeliveryOption()">Cancel</button>
      <button class="np-button" (click)="deleteDeliveryOption()">Delete</button>
    </span>
</div>
