<div class="card fluid">
  <div class="section">
    <div>
      <div>
        <div style="float:right;">
          <np-slider [(state)]="active" (stateChange)="statusChanged()"></np-slider>
        </div>
        <div class="np-alert-name">{{alertPref.alertDef.name}}</div>
        <div class="np-alert-description">{{alertPref.alertDef.description}}</div>
      </div>
    </div>
    <div *ngIf="active">
      <div class="np-alert-parameters">
        <div *ngFor="let parameter of alertPref.alertDef.parameters">
          <div *ngIf="parameter.label">
            <label>{{parameter.label}}</label><br/>
            <input class="np-input" *ngIf="parameter.ptype != 'lookup'"  [(ngModel)]="parameters[parameter.name]" (keyup)="parameterChanged()">

            <angular2-multiselect *ngIf="parameter.ptype == 'lookup'"
            [data]="findLookup(parameter.lookup)" [(ngModel)]="parameters[parameter.name]"
            [settings]="dropdownSettings"
            (onSelect)="statusChanged()"
            (onDeSelect)="statusChanged()"
            (onSelectAll)="statusChanged()"
            (onDeSelectAll)="statusChanged()"></angular2-multiselect><br>
          </div>
        </div>
      </div>
      <div class="np-alert-deliver-to">
        <label for="options">Deliver To:</label>
        <div *ngFor="let option of deliveryOptions">
          <div *ngIf="option.id">
            <input type="checkbox" name="options" value="{{option.id}}" id="option{{alertPref.alertDefId}}{{option.id}}" tabindex="0" (click)="deliveryOptionChanged(option.id)"
              [checked]="this.deliverTo.indexOf(option.id) >= 0">
            <label for="option{{alertPref.alertDefId}}{{option.id}}">{{option.name || option.value}}</label>
            <svg *ngIf="option.deliveryType =='text'" class="np-icon"><use xlink:href="#chat" /></svg>
            <svg *ngIf="option.deliveryType =='email'" class="np-icon"><use xlink:href="#email" /></svg>
          </div>
        </div>
      </div>
      <div>
        <span *ngIf="isDirty" class="np-alert-save-cancel">
          <button  (click)="savePref()">Save</button>
          <button  (click)="cancelPref()">Cancel</button>
        </span>
      </div>
    </div>
  </div>
</div>
